
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


RewriteCond %{HTTP_HOST} ^yourdomain\.com$ [NC]
## RewriteRule ^(.*)$ http://www.yourdomain.com/$1 [L, R=301]

ErrorDocument 404 /errors/404.php
ErrorDocument 403 /errors/403.php
ErrorDocument 500 /errors/500.php
ErrorDocument 401 /errors/401.php